:root{
    /* font */
    --font-dm-sans: "DM Sans", sans-serif;
    --font-footer: 'ranklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
    /* colors */
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0,07);
    --bg-white: #fff;



}

